.flex-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; //main
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;

    & > * {
        display: inline-block;
    }
}

.whole {
    width: 100%;
    flex-basis: 100%;   
    margin-bottom: 3rem;
}

.half {
    width: 48%;
    flex-basis: 48%;

    @include respond(phone) {
        flex-basis: 100%;
    }
}