.header {
    color: $color-grey-dark-3;
    padding-bottom: 2rem;

    @include respond(phone){
        padding: 0;
    }

    &__content {
        width: 100%;
        height: 8.5rem;
        margin-bottom: -2rem;
        
        @include respond(phone){
            padding: 0;
            height: auto;
        }
    }

    &__brand {
        padding: 1.5rem;
        float: left;
        
        @include respond(phone){
            display: block;
            float: none;
        }
        
        &--logo {
            vertical-align: middle;
            display: inline-block;
            padding-right: 1.5rem;
            height: 5.5rem;
            width: auto;

            @include respond(tabPort){
                height: 4.5rem;
            }
        }

        &--title {
            vertical-align: middle;
            display: inline-block;  
            font-size: 3rem;

            @include respond(tabPort){
                font-size: 2.5rem;
            }

            @include respond(tinyPhone){
                font-size: 2rem;
            }
        }
    }

    &__links {
        padding-top: 2.50rem;
        float: right;
        vertical-align: top;
        user-select: none;

        @include respond(phone){
            float: none;
            display: flex;
            justify-content: space-between;
            padding-bottom: 2rem;
            padding-top: 1.5rem;
            background-color: $color-primary;
        }
        
        a, a:link, a:active {
            letter-spacing: 0.2rem;
            padding: 0 3rem;
            text-transform: uppercase;
            font-size: 1.7rem;
            font-weight: 600;
            text-decoration: none;
            color: $color-grey-dark-2;

            @include respond(tabPort){
                font-size: 1.4rem;
                padding: 0 1rem;
            }

            @include respond(phone){
                padding: 0 3rem;
                color: $color-grey-light-1;
            }
            
            @include respond(tinyPhone){
                font-size: 1.2rem;
            }

        }

        a:hover {
            color: $color-grey-dark-3;
        }
    }
}
