.header{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 14.5%;
    background-color: $color-grey-dark-3;
    color: white;

    @include respond(tabPort) {
        padding-left: 1.75%;
    }

    &__content {
        padding: 0 3rem;
        
        img {
            margin: auto 0;
            display: inline-block;
            padding-right: 1.5rem;
            height: 6rem;
            width: auto;

            @include respond(phone){
                height: 5rem;   
            }
            
            @include respond(tinyPhone){
                display: none;
            }
        }

        .header__text {
            display: inline-block;

            h1 {
                font-size: 4rem;

                @include respond(phone){
                    font-size: 3rem;
                }

                @include respond(tinyPhone){
                    font-size: 2rem;
                }
            }

            p { 
                margin-top: -0.5rem;
                word-wrap: break-word;
            }

        }
    }
}
