.header {
    margin: 0 auto;
    position: sticky;
    top: 0;
    width: 100%;
    color: $color-grey-dark-3;
    background-color: white;
    padding-bottom: 2rem;
    z-index: 100;
    box-shadow: 0 2px 3px rgba($color-black, 0.1);
    border-bottom: 1px solid rgba($color-primary, 0.3);

    @include respond(phone) {
        padding: 0;
    }

    &__content {
        width: 100%;
        height: 8.5rem;
        margin-bottom: -2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;

        @include respond(phone) {
            flex-wrap: wrap;
            padding: 0;
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1.5rem;

        &--logo {
            width: 20%;
            padding: 0.5rem 0;
        }

        &--title {
            font-size: 3rem;
            white-space: nowrap;

            @include respond(tabPort) {
                font-size: 2.5rem;
            }

            @include respond(tinyPhone) {
                font-size: 2rem;
            }
        }
    }

    &__links {
        user-select: none;
        white-space: nowrap;

        @include respond(phone) {
            margin-top: -1.75rem;
            padding: 0.75rem 6rem;
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $color-primary;
        }

        a,
        a:link,
        a:active {
            letter-spacing: 0.2rem;
            padding: 0 3rem;
            text-transform: uppercase;
            font-size: 1.7rem;
            font-weight: 600;
            text-decoration: none;
            color: $color-grey-dark-2;

            @include respond(tabPort) {
                font-size: 1.4rem;
                padding: 0 1rem;
            }

            @include respond(phone) {
                padding: 0 3rem;
                color: $color-grey-light-1;
            }

            @include respond(tinyPhone) {
                font-size: 1.2rem;
            }
        }

        a:hover {
            color: $color-grey-dark-3;
        }
    }
}
