.clanMembers {
    padding: 0 1rem;
    border-collapse: collapse;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    width: 100%;

    @include respond(tabPort){
        border:none;
    }

    &__promotion {
        background-color: rgba($color-promote, 0.4); 
        font-weight: 400;
    }

    &__probation {
        background-color: rgba($color-probation, 0.4); 
        font-weight: 400;
    }

    &__demotion {
        background-color: rgba($color-demote, 0.4); 
        font-weight: 400;
    }

    td {
        padding: 0.5rem; 
    }

    th {
        text-transform: uppercase;
        padding: 3px 2px;
        border-bottom: 1px solid #aaa;
    }  
}

.align-left{
    text-align: left;
}
.align-right {
    text-align: right;
}
.pointer {
    cursor: pointer;
}