.description {
    flex-basis: 40%;
    padding: 6rem;
    width: 100%;
        
    @include respond(tabLand){
        padding: 3rem;
        flex-basis: 80%;
    }

    @include respond(phone){
        flex-basis: 100%;
        padding: 3rem;
        padding-bottom: 6rem;
    }

    &__reqs {
        width: 100%;
        font-size: 1.35rem;
        font-weight: 500;
        text-align: justify;
        color: $color-grey-light-2;
        border-radius: 1rem;
        
        @include respond(tabLand) {
            font-size: 1.3rem;
            font-weight: 300;
            padding: 2rem 1rem;
            column-gap: 6rem; 
            column-rule: 1px solid $color-grey-light-2;
            column-count: 2;
        }

        @include respond(tinierPhone){
            column-count: 1;
        }

        p {
            break-inside: avoid-column;
            margin-bottom: 1rem;

            @include respond(phone){
                margin-bottom: 0;
            }
        }
    }
}