.filter {
    width: 100%;
    
    &__list {
        background-color: $color-filter;
                
        @include respond(phone){
            margin: -2rem 0 10px 0;
        }

        &--item {
            font-weight: 600;
            display: inline-block;
            border: 1px solid transparent;
            bottom: -1px;   
            position: relative;
            list-style: none;
            padding: 6px 12px;
            cursor: pointer;
            color: white;
            
            &--selected {
                background: #fff;
                border-color: #aaa;
                border-bottom: none;
                color: $color-grey-dark-3;
                
            }
        }
    }
}