.form {
    width: 100%;
    padding-bottom: 3rem;

    @include respond(tabLand){
        padding: 0;
    }

    &__input { //doesn't inherit font properties
        font-size: 1.5rem;
        font-family: inherit;
        color: $color-grey-dark-3;
        padding: 0.5rem;
        border-radius: 2px;
        background-color: $color-grey-light-1;
        width: 100%;
        display: block;
        transition: all .2s;
        border: 3px solid $color-grey-light-2;
        border-radius: 0.5rem;
        
        &:focus {
            outline: none;
            box-shadow: 0 1px 3px rgba($color-black, .1);
        }
        
        &::-webkit-input-placeholder {
            color: $color-grey-dark-3;
        }
    }

    &__label {
        display: none;

        @include respond(tabLand){
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 2rem;
            margin-top: .7rem;
            display: block;
            transition: all .3s;
        }
    }

    
    &__input:placeholder-shown + &__label { //adjacent sibling
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}