.searchResult {
    margin: 1rem auto;
    padding: 0 1rem;
    border-collapse: collapse;
    font-size: 1.4rem;
    transition: all 0.2s;

    @include respond(phone) {
        font-weight: 400;
    }

    td {
        padding: 0.25rem 1rem;
        white-space: nowrap;
    }

    td:nth-child(even) {
        @include respond(phone) {
            padding-left: 0.75rem;
        }
    }

    td:nth-child(odd) {
        text-align: right;
        border-right: 1px solid $color-grey-dark-1;

        @include respond(phone) {
            padding-right: 0.75rem;
        }
    }
}
