.topPlayers {
    color: $color-grey-dark-3;
    background-color: rgba(#FFC645, .6);
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include respond(phone){
        padding: 3rem;
    }

    &__type {
        display: inline-block;
        flex-basis: 50%;
        width: 50%;

        td {
            padding-left: 1rem;
        }
    }
}