.weekSelection {
    display: inline-block;

    &:hover &__weeks {
        display: block;
    }

    &__weeks {
        display: none;
        position: absolute;
        background-color: rgba(white, 0.95);
        box-shadow: 0px 8px 16px 0px rgba(black, 0.2);
        z-index: 1;

        li {
            cursor: pointer;
            list-style: none;
            padding: 2rem;
            text-align: center;
            border-top: 1px solid $color-grey-dark-1;
            color: $color-grey-dark-2;
            user-select: none;

            @include respond(phone) {
                font-size: 1.7rem;
                font-weight: 400;
                padding: 3rem;
            }

            &:hover {
                background-color: rgba($color-primary, 0.8);
                color: white;
            }
        }
    }
}

li.selectedWeek,
li.selectedWeek:hover {
    color: white;
    background-color: $color-filter;
}
