.header{
    padding-bottom: 3rem;
    padding-left: 14.5%;
    background-color: $color-grey-dark-3;
    color: white;

    @include respond(tabPort) {
        padding-left: 2%;
    }

    &__content {
        padding: 0 3rem;
        display: inline-block;
    }

    h1 {
        font-size: 5rem;
    }
}
