@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// <600 <900 <1200 <1800 >1800
//$breakpoint : phone tabPort tabLand desk deskBig
@mixin respond($breakpoint) {
    @if $breakpoint == tinyPhone {
        @media only screen and (max-width: 24em) { @content }
    } @else if $breakpoint == phone {
        @media only screen and (max-width: 44.75em) { @content }
    } @else if $breakpoint == tabPort { 
        @media only screen and (max-width: 55em) { @content }
    } @else if $breakpoint == tabLand {
        @media only screen and (max-width: 81.25em) { @content }
    } @else if $breakpoint == desk {
        @media only screen and (max-width: 112.5em) { @content }
    } @else if $breakpoint == deskBig {
        @media only screen and (min-width: 112.5em) { @content }
    }
}