//colors and gutters etc
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000000;

$color-primary: #2E7AE5;

$color-promote:rgb(60, 148, 79);
$color-probation:rgb(228, 176, 35);
$color-demote:rgb(201, 47, 26);
$color-normal:#2E7AE5;

$wallpaper: '../assets/images/wallpaper.jpg';