//colors and gutters etc
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000000;

$color-border : rgb(82, 82, 82);
$color-head :#4460C8;
$color-cell :rgb(77, 77, 78);
$color-cell-alternate :rgb(51, 51, 51);
$color-font-head : #fff;
$color-font-cell : #e7e7e7;

$color-promote:green;
$color-demote:red;
$color-normal:blue;

$wallpaper: '../assets/images/wallpaper.jpg';