{{#shapes}}
    .icon--{{base}} {
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        background-image: url('../assets/images/{{{sprite}}}');
        background-position: {{position.relative.xy}};
        background-repeat: no-repeat;
        display: inline-block;
    }
{{/shapes}}