*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;

    @include respond(deskBig) {
        font-size: 75%;
    }
    
    @include respond(tabLand) {
        font-size: 56.25%;
    }
    
    @include respond(tabPort) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    height: 100%;
    min-width: 352px !important;
    width: auto !important;
}
main {
    min-height: 80vh;
}
.body {
    margin: 0 auto;
    width: 95%; 
    
    @include respond(tabPort){
        width: 100%;
    }
}


.hero {
    width: 100%;
    background-image: linear-gradient(
        rgba($color-primary, .98), 
        rgba($color-primary, .8) 25%, 
        rgba($color-primary-dark, .8) 75%, 
        rgba($color-filter, .95) 95%, 
        $color-filter), 
        url('../assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    @include respond(phone){
        padding-bottom: 3rem;
    }

    @include respond(tinyPhone) {
        padding-bottom: 0;
    }

    &__content {
        width: 100%;
    }
}