*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(deskBig) {
        font-size: 75%;
    }
    
    @include respond(tabLand) {
        font-size: 56.25%;
    }
    
    @include respond(tabPort) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}

.main {
    padding: 2rem;
    margin: 0 auto;
    width: 70%;

    @include respond(tabPort) {
        padding: 1rem;
        width: 95%;
    }
}