body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: $color-grey-dark-3;
    font-size: 1.5rem;
}

strong {
    color: $color-primary
}

a:link, a:active, a:hover, a {
    color: $color-grey-light-1;
}