body {
    font-family: 'Latos', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: $color-grey-dark-3;
    font-size: 1.5rem;
}

strong {
    font-size: 1.6rem;
    color: $color-bold;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.pointer {
    cursor: pointer;
    user-select: none;
}

.capitalize {
    text-transform: capitalize;
}
